<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ book.name }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                            <img alt="User Pic" ng-src="{{ book.image }}" class=" img-responsive"> </div>


                        <div class=" col-md-9 col-lg-9 ">

                            <h3>Description:</h3>
                            <p>{{ book.description }}</p>

                            <br>

                            <p>Author:{{ book.author }}</p>

                            <br>
                            <p>Rating:</p> <i class="fa fa-star fa-2x"> {{ book.rating }} </i>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" ng-Click="order()" class="btn btn-primary">
                        order
                    </button>
                    <a href="/" class="btn btn-link">Cancel</a>
                </div>

            </div>
        </div>
    </div>
</div>