
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">

                <div ng-if="currentUser">Welcome, {{ currentUser.username }}</div>
                <div ng-if="currentUser"><p><a href="/profile" class="btn btn-primary" role="button">book adder page
                </a> </p></div>
                <form name="form" ng-submit="search(bookname)" role="form">
                    <div class="form-group">
                        <label for="bookname">Search a book</label>
                        <input type="text" name="bookname" id="bookname" class="form-control" ng-model="bookname"
                               required/>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">
                            Search
                        </button>

                    </div>
                        </div>
                </form>

            </div>
            <div ng-if="searchbook" class="row">
                <div class="col-sm-6 col-md-4" ng-repeat="Boo in searchbook  | limitTo:10">
                    <a href="/{{Boo.id}}">
                    <div class="thumbnail" >
                        
                        <img ng-src="{{ Boo.image }}" class="img-responsive" alt="...">
                        
                        <div class="caption">
                            <h3> {{ Boo.name }}</h3>
                            <p>Author: {{ Boo.author }} </p>
                            <button type="submit" ng-Click="order()" class="btn btn-primary">
                        order
                    </button>
                        </div>
                    </div>
                    </a>
                    <br>
                </div>


            </div>
            <h1>Top Sellers!</h1>
            <div  class="row">
                <div class="col-sm-6 col-md-4" ng-repeat="Bo in book | limitTo:10">
                         <a href="/{{Bo.id}}">
                     <div class="thumbnail" >
                         
                         <img ng-src= "{{ Bo.image }}" alt="...">
                    
                        <div class="caption">
                            <h3> {{ Bo.name }}</h3>
                            <p>Author: {{ Bo.author }} </p>
                            <button type="submit" ng-Click="order()" class="btn btn-primary">
                        order
                    </button>
                        </div>
                    </div>
                    </a>
                    <br>

                </div>

            </div>
        </div>
    </div>
</div>
